.backgroundContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: #0f172a;
  overflow: hidden;
}

.orb1,
.orb2 {
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.4;
  animation: float 20s infinite ease-in-out alternate;
}

.orb1 {
  width: 50vw;
  height: 50vw;
  background: #3b82f6;
  top: -10%;
  left: -10%;
  animation-duration: 25s;
}

.orb2 {
  width: 40vw;
  height: 40vw;
  background: #8b5cf6;
  bottom: -10%;
  right: -10%;
  animation-duration: 30s;
  animation-direction: alternate-reverse;
}

@keyframes float {
  0% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(30px, 50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
